body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: rgba(235, 229, 236, 0.658);
    flex-wrap: wrap;
}
.container{
    margin:auto;
    width:500px;
    height:500px;
    border:10px solid rgb(199, 24, 24);
    background-color: black;
}